/*----------------------*\
*!   Gradient Headers   !*
\*----------------------*/

/** Colors **/
:root .theme-light {
    --h1-gradient: #5AF511, #2D0001;/* Green gradient for all headers */
    --h2-gradient: #FFFFFF, #362F2F;
    --h3-gradient: #FFFFFF, #362F2F;
    --h4-gradient: #FFFFFF, #362F2F;
    --h5-gradient: #FFFFFF, #362F2F;
    --h6-gradient: #FFFFFF, #362F2F;
}

:root .theme-dark {
    --h1-gradient: #5AF511, #070707;/* Green gradient for all headers */
    --h2-gradient: #FFFFFF, #362F2F;
    --h3-gradient: #FFFFFF, #362F2F;
    --h4-gradient: #FFFFFF, #362F2F;
    --h5-gradient: #FFFFFF, #362F2F;
    --h6-gradient: #FFFFFF, #362F2F;
}

/** Gradient Headers **/

/* Fix formatting symbol colors */
.cm-formatting-header {
    color: inherit;
}

/* Add text-clipped background gradients */
.cm-header:not(.cm-formatting),
:is(h1, h2, h3, h4, h5, h6) {
    background: linear-gradient(to bottom, var(--gradient-header));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

.markdown-source-view.mod-cm6 .cm-scroller,
h1 {
	display: flex;
	width: 100%;
	align-items: center;
}
h1:after{
	content: '';
	background-image: linear-gradient(90deg, #5AF511, rgba(0,0,0,0));
	height: .1em;
	margin: .5em;
	flex: 1;
}
h1:before{
	content: '';
	background-image: linear-gradient(270deg, #5AF511, rgba(0,0,0,0));
	height: .1em;
	margin: .5em;
	flex: 1;
}


/* Apply the gradient variables */
.cm-header-1,
h1 {
    font-family: Hirosh;
    --gradient-header: var(--h1-gradient);
    text-align: center; /* Centers h1 headers */
}

.cm-header-2,
h2 {
    --gradient-header: var(--h2-gradient);
}

.cm-header-3,
h3 {
    --gradient-header: var(--h3-gradient);
}

.cm-header-4,
h4 {
    --gradient-header: var(--h4-gradient);
}

.cm-header-5,
h5 {
    --gradient-header: var(--h5-gradient);
}

.cm-header-6,
h6 {
    --gradient-header: var(--h6-gradient);
}

.markdown-preview-view h1 {
    font-size: 250%;
    text-align: center;
    font-family: Hirosh;
}

.markdown-preview-view h2 {
    margin-bottom: 20px;
    font-size: 170%;
}

/* Reading mode */
.markdown-preview-view {
    font-family: 'TeX Gyre Bonum' !important;
}

/* Source view and live preview */
.markdown-source-view.mod-cm6 .cm-scroller {
    font-family: 'TeX Gyre Bonum' !important;
}

.markdown-preview-view p {  
    text-align: justify;
    text-justify: inter-word;
}

/* Source view and live preview */
.markdown-source-view.mod-cm6 .cm-line {
    text-align: justify;
    text-justify: inter-word;
}
.vertical-tab-header,
.view-content,
.workspace-sidedock-vault-profile,
.nav-header,
.nav-files-container,
.workspace-tab-header-inner,
.workspace-tab-header-container,
.workspace-tab-header-spacer,
.sidebar-toggle-button,
.workspace-ribbon,
.cm-s-obsidian .cm-editor,
.cm-s-obsidian .cm-scroller,
.cm-s-obsidian .cm-gutters,
.markdown-preview-view,
.markdown-source-view,
.horizontal-main-container,
.horizontal-main-container::before {
    background-color: #000000 !important; /* Change this to any dark color you prefer */
    color: #ffffff; /* Adjust text color for readability */
}

/* Additional styling for better consistency */
.cm-s-obsidian .cm-gutter,
.cm-s-obsidian .cm-line,
.cm-s-obsidian .cm-gutters {
    background-color: #000000 !important;
    color: #ffffff !important;
}

/* Smooth cursor blinking */
.ͼ1.cm-focused .cm-cursorLayer {
    animation: ease cm-blink 1s infinite !important;
  }
  
  @keyframes cm-blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes cm-blink2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


mjx-stretchy-h > mjx-ext {
  font-weight: 600
}


mjx-stretchy-h.mjx-c2013 mjx-ext mjx-c::before {
  padding-top: .3em ! important
}

img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt*="right"] {
    float:right;
    clear:right;
    margin-left: 1rem;
    margin-bottom: 2px;
    margin-top: 2px;
}